<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Some Story</title>
</head>
<body>
    <center>
    <p> Помню было 24 января 1999 года... </p>
    
    {% if f_lang %}
        <p>  Я должен был встретится c связным, <strong>родом из Чехии...</strong></p>
       
        {% if f_agent %}
            <p>   Агентом был служащий c позывным "Рысь"...</p>

            {% if f_accept %}
                <p>    От него я ожидал получить фотоматериалы объекта... </p>
            
                {% if f_flag %}
                    <p> Но Он мне передал лишь записку: Вы раскрыты, ваш новый пароль {{f}}</p>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
    </center>
</body>
</html>