<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="icon" href="{{ url_for('static', filename='img/jail.png') }}">
    <title>{% block title %}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background"></div>
    <div class="inner">
        <h1>
            Welcome to the GCD calculator!
        </h1>
        <br />
        <span>How to use? Select command! 
            <br />
            Available:<br />
            1. gcd(x, y)<br />
            2. ???
        </span>
    </div>
    <div class="inputter">
        <form method="POST">
        <input name="example_text" type="text"/>
        </form>
        <div class="terminal space shadow">
            <div class="top">
                <div class="btns">
                    <span class="circle red"></span>
                    <span class="circle yellow"></span>
                    <span class="circle green"></span>
                </div>
                <div class="title">bash -- 70x32</div>
            </div>
            <pre class="body">
                {{terminal}}
            </pre>
        </div>
    </div>
</body>
</html>
